@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="mailto:hsnysndnz@gmail.com" target="_blank">Send me email</a>
            <a href="https://www.linkedin.com/in/hasan-yasin-deniz-1559a6161/" target="_blank">My linkedin profile</a>
        </div> 
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
