@page "/"
@inject Services.ApiService ApiService
<PageTitle>Home</PageTitle>

<h1>One Window One Tree</h1>
<p>
    One Window or Door = One Tree Planted
    For every window or door purchased, we plant a tree to further offset a structure’s carbon footprint. One Window, One Tree. INTUS conserves energy and decreases carbon through our superb energy efficient windows and doors, while proactively increasing our planet’s carbon absorption.
    INTUS and our partners collaborate to plant trees in the region of our building projects. The planting site is based on several factors, including the most beneficial impact to the local environment. We’ve hooked up with One Tree Planted, and local organizations and governments to target areas in need. We are transforming the buildings we live and work in, and the environment around them.
</p>
<hr />
<p>
    <b>The INTUS Carbon Reduction Goal</b><br />
    To expedite carbon reduction by planting 1,000,000 trees annually.
</p>
<hr />
<p>
    <b>Trees Planted Badge</b><br />
    Look for the badge with number of trees planted in completed projects and see how much INTUS has greened our planet!
</p>
<hr />